/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* universal selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "lato", sans-serif;
  font-weight: 400;
  font-size: 16pz;
  line-height: 1.7;
  color: #777;
  padding: 30px;
}

.header {
  height: 95vh; /*  view height is the 96 % */
  background-image: linear-gradient(to right bottom, #7ed56fbb, #28b485e2),
    url(/Users/Davide/Dev/Natures/img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  /* create polygon, forms inside on the image - https://bennettfeely.com/clippy/ */
}

.logo-box {
  position: absolute;
  top: 40px; /*  the reference is the position relative in the parent element (header) */
  left: 40px;
}

.logo {
  height: 35px;
}

.text-box {
  position: absolute;
  top: 40%; /* top and lef are related to the parent element */
  left: 50%;
  transform: translate(
    -50%,
    -50%
  ); /*  this property can reduce the 50% on x and on y so the box will result centred inside the box */
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
}

.heading-primary-main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;
  /* Keyframe animation properties */
  animation-name: moveInLeft;
  animation-duration: 2s;
  /* animation-iteration-count: 2; */
  animation-timing-function: ease-in;
}

.heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 17.4px;
  animation-name: moveInRight;
  animation-duration: 2s;
  /* animation-iteration-count: 2; */
  animation-timing-function: ease-in;
}
/*  
keyframes at-rule.
*/
@keyframes moveInLeft {
  /*  
those are the 3 phase of the animation
*/
  0% {
    opacity: 0;
    transform: translateX(-100px); /*  
Xdirection in negative value
*/
  }

  80% {
    transform: translate(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  /*  
those are the 3 phase of the animation
*/
  0% {
    opacity: 0;
    transform: translateX(100px); /*  
X direction in negative value
*/
  }

  80% {
    transform: translate(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
